.expenses-page {
  background-color: $background;
  font-family: $font-primary;

  h1 {
    color: $accent-brown;
    font-weight: 700;
  }

  .btn-primary {
    background-color: $primary-green;
    border: none;
    &:hover {
      background-color: $secondary-green;
    }
    &:active {
      background-color: $primary-green !important;
    }
  }

  .expenses-table {
    th {
      border-bottom: 2px solid $light-brown;
      color: $accent-brown;
    }

    td {
      vertical-align: middle;
    }

    tbody tr:hover {
      background-color: $secondary-green;
    }
  }

  .clear-filter-btn {
    background-color: $secondary-green;
    &:hover {
        background-color: $primary-green;
    }
  }

  .add-expense-btn {
    bottom: 2rem;
    right: 2rem;
    width: 56px;
    height: 56px;
    background-color: $primary-green;
    border: none;
    font-size: 1.5rem;

    &:hover {
      background-color: $secondary-green;
    }
  }
}
